<% post = load_post(@current) %>
<% postit = load_post("postit") %>

<div class='leftdiv'>
  <div id='postit'>
    <div id='posttext'><%= raw postit %></div>
  </div>
</div>
<div class='rightdiv'>

  <%= raw post %>
</div>